<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" slot="start" color="primary" (click)="goBack()">
      <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Learn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="questions?.length">
  <!-- Questions -->
  <ng-container *ngIf="!showResult">
    <h1>{{studySet.Name}}</h1>
    <app-flashcard [question]="questions[index]"></app-flashcard>
    <div class="buttons">    
      <ion-button (click)="incorrect()" color="danger">incorrect</ion-button>
      <ion-button (click)="correct()" color="success">correct</ion-button>
    </div>
  </ng-container>

  <!-- Result -->
  <ng-container *ngIf="showResult">
    <h1>Correct</h1>
    <br>
    {{correctAnswers}}
    <h1>Incorrect</h1>
    <br>
    {{incorrectAnswers}}
  </ng-container>

</ion-content>


<!-- No Questions -->
<ion-content class="ion-padding" *ngIf="!questions?.length">
  <p>No questions available.</p>
</ion-content>