ion-card-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ion-card{
    margin: 0 0 10px 0;
}

ion-card-title{
    text-align: center;
}

h1{
    text-align: center;
}