<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
    <ion-button fill="clear" slot="end" color="primary" [href]="'/logout'">
      <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Study Sets</h1>

  <div>
    <ion-card class="ion-no-padding" *ngFor="let studySet of studySets; let i = index">
      <ion-card-header>
        <ion-card-title >{{ studySet.Name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content >
        <ion-icon (click)="learnStudySet(studySet.Key)" size="large" name="book-outline"></ion-icon>
        <ion-icon (click)="openStudySet(studySet.Key)" size="large"  name="create-outline"></ion-icon>
        <ion-icon (click)="deleteStudySet(studySet.Key)" size="large"  name="trash-outline" ></ion-icon>
      </ion-card-content>
    </ion-card>
  </div>
  
  <br>
  <app-add-study-set pos></app-add-study-set>
</ion-content>