<ion-icon name="create-outline" id="open-edit-question{{question.Key}}-modal" (click)="editQuestion()" size="medium"> >

  <ion-modal trigger="open-edit-question{{question.Key}}-modal">
    <ng-template>

      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Add Question</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="updateQuestion()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <form [formGroup]="editQuestionForm" (keydown.enter)="updateQuestion()">
          <ion-item class="ion-no-padding">
            <ion-label position="floating">Question</ion-label>
            <ion-input formControlName="question" type="text" [(ngModel)]="question.Question"></ion-input>
          </ion-item>
          <ion-item class="ion-no-padding">
            <ion-label position="floating">Answer</ion-label>
            <ion-input formControlName="answer" type="text" [(ngModel)]="question.Answer"></ion-input>
          </ion-item>
        </form>
      </ion-content>

    </ng-template>
  </ion-modal>